/* 	CSS Document */
img, video, object {
    max-width: 100%;
}

body {
    font-family: 'monserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

p {
    margin-left: 20px;
    margin-bottom: 20px;
}

#container {
    /* allows conatiner to scale up to 1200px */
    max-width: 1200px;
    margin: 0 auto;
    border: solid 5px #333;
}


#box1 {
    background-color: rgba(233, 52, 16, 0.432);
    
    height: 300px;
}

#box2 {
    background-color: rgba(163, 224, 42, 0.329);

    height: 300px;
}

@media screen and (min-width:640px) {
    #column-con {
        display: flex;
        flex-direction: row;
    }

    #box1 {
        width: 70%;
    }

    #box2 {
        width: 30%;
    }
}