/* 	CSS Document */
img, video, object {
    max-width: 100%;
}

body {
    font-family: 'monsterrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2 {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

p {
    margin-left: 20px;
    margin-bottom: 20px;
}

#container {
    /* allows conatiner to scale up to 1200px */
    max-width: 1200px;
    margin: 0 auto;
    border: solid 5px #333;
}


#box1 {
    background-color: rgba(249, 74, 179, 0.212);
    font-weight: bold;
    height: 300px;
}

#box2 {
    background-color: rgba(250, 76, 76, 0.24);
    font-weight: bold;
    height: 300px;
}

#box3 {
    display: none;

}

#box4 {
    display: none;
}

@media screen and (min-width:641px) {
    #column-con {
        display: flex;
        flex-direction: row;
    }

    #box1 {
        width: 25%;
        background-color: rgba(0, 0, 255, 0.378);
    }

    #box2 {
        background-color: rgba(128, 0, 128, 0.356);
        width: 25%;
    }

    #box3 {
        background-color: rgba(128, 128, 128, 0.293);
        font-weight: bold;
        width: 25%;
        display: block;
    }

    #box4 {
        background-color: rgba(165, 42, 42, 0.344);
        font-weight: bold;
        width: 25%;
        display: block;
    }
}